html, body {
  font-family: $base-font-stack;
  color: $dark-grey;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}


html {
  background-image: url('/img/site/bg.jpg');
  background-repeat: repeat;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

img {
  max-width: 100%;
}