html, body {
  font-family: $base-font-stack;
  color: $dark-grey;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

img {
  max-width: 100%;
}

hr {
  margin: 1.5rem 0;
  border: none;
  border-top: 2px solid $light-orange;
}
