a {
  color: $orange;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease;
  
  &:hover, &:active, &:focus {
    color: $blue;
  }
}

p {
  margin: 0;
  
  & + p {
    margin-top: 1rem;
  }
}