$base-font-stack: "Open Sans", Helvetica, Arial, sans-serif;
$accent-font-stack: "Bree Serif", Georgia, serif;

$light-orange: #f9e3a7;
$blue: #466dff;
$orange: #f17740;
$red: #e8293f;
$green: #008c56;
$dark-grey: #333;

@lost gutter 2rem;