<form class="form" action="https://formspree.io/your@email.com"
method="POST">
  <label class="form__label">
    Name
    <input class="form__input" type="text" name="name">
  </label>
  <label class="form__label">
    Email
    <input class="form__input" type="email" name="_replyto">
  </label>
  <label class="form__label">
    Message
    <textarea class="form__input form__input--textarea" name="message"></textarea>
  </label>
  <input type="text" name="_gotcha" style="display:none" />
  <input class="form__button" type="submit" value="Send">
</form>