<nav class="nav">
  <div class="nav__upper">
    <h1 class="nav__title">
      <span class="sr-only">Janice Liu</span>
      <a class="nav__logo-link" href="/">
        <img class="nav__logo" src="{{ imgurl }}/img/site/name.png">
      </a>  
    </h1>
    <div class="nav__links">
      <a class="nav__link" href="/">
        Illustration
      </a>
      <a class="nav__link" href="/comics/">
        Comics
      </a>
      <a class="nav__link" href="/educational/">
        Educational
      </a>
    </div>
  </div>
  <div class="nav__lower">
    <div class="nav__sublinks">
      <a class="nav__sublink" href="/about/">About Janice</a>
      <a class="nav__sublink" href="/about/">Email: janice@janiceliu.com</a>
    </div>
  </div>
  
</nav>
