<nav class="nav">
  <div class="nav__upper">
    <h1 class="nav__title">
      <span class="sr-only">Janice Liu</span>
      <a class="nav__logo-link" href="/">
        <img class="nav__logo" src="{{ imgurl }}/img/site/name.png">
      </a>  
    </h1>
    <div class="nav__links">
      <a class="nav__link" href="/">
        illustration
      </a>
      <a class="nav__link" href="/comics/">
        comics
      </a>
      <a class="nav__link" href="/educational/">
        educational
      </a>
      <a class="nav__link" href="/about/">
        about
      </a>
      <a class="nav__link" href="/contact/">
        contact
      </a>
    </div>
  </div>
  <div class="nav__lower">
    <div class="nav__sublinks">
      <a class="nav__sublink"><span style="color: #333">email: janice@janiceliu.com</span></a>
    </div>
  </div>
  
</nav>
