<ul class="social">
  <li class="social__item">
    <a class="social__link social__link--facebook" href="https://www.facebook.com/flutterdoodle">
      <i class="fa fa-facebook-square" aria-hidden="true" title="facebook"></i>
      <span class="sr-only">Facebook</span>
    </a>
  </li>
  <li class="social__item">
    <a class="social__link social__link--tumblr" href="http://blog.janiceliu.com/">
      <i class="fa fa-tumblr-square" aria-hidden="true" title="Tumblr"></i>
      <span class="sr-only">Tumblr</span>
    </a>
  </li>
  <li class="social__item">
    <a class="social__link social__link--instagram" href="https://www.instagram.com/flutterdoodle/">
      <i class="fa fa-instagram" aria-hidden="true" title="Instagram"></i>
      <span class="sr-only">Instagram</span>
    </a>
  </li>
  <li class="social__item">
    <a class="social__link social__link--behance" href="https://www.behance.net/flutterdoodle">
      <i class="fa fa-behance-square" aria-hidden="true" title="Behance"></i>
      <span class="sr-only">Behance</span>
    </a>
  </li>
  
</ul>