---
layout: default
body: gallery
---
<main>
  {% assign content = content | strip_newlines %}
  {% if content != '' %}
    <section class='text-block'>
      {{ content }}
    </section>
  {% endif %} 
  {% for series in page.series %}
    <section class="illustration__grid">
      {% if series.showInformation %} 
        <div class="illustration__grid-item {% if series.thirds == true %}illustration__grid-item--thirds {% endif %}">
          <div class="illustration__meta">
            <h1>{{ series.title }}</h1>
            <p>
              {{ series.description }}
            </p>
          </div>
        </div>
      {% endif %}
      
      {% for img in series.images %}
        <div class="illustration__grid-item {% if series.thirds == true %}illustration__grid-item--thirds {% endif %}">
          <a class="illustration__grid-link" {% if img.pageUrl %}href="{{ img.pageUrl }}" {% else %}data-lightbox="illustration" href="{{ imgUrl }}{{ img.full }}" data-title="{{ img.desc }}" {% endif %}>
            <img class="illustration__img" src="{{ imgUrl }}{% if img.thumb != null %}{{ img.thumb }}{% else %}{{ img.full }}{% endif %}" alt="{{ img.desc }}">
            <p>"{{ img.desc }}"</p>
          </a>  
        </div>
      {% endfor %}
    </section>
  {% endfor %}
</main>
