---
layout: default
body: illustrations
---

<main>
  {% for series in page.series %}
    <section class="illustration__grid">
      <div class="illustration__grid-item">
        <div class="illustration__meta">
          <img src="{{ series.titleImg }}" alt="{{ series.title }}">
          <p>
            {{ series.description }}
          </p>
        </div>
      </div>
      
      {% for img in series.images %}
        <div class="illustration__grid-item">
          <a class="illustraton__grid-link" data-lightbox="illustration" href="{{ imgUrl }}{{ img.full }}" data-title="{{ img.desc }}">
            <img class="illustration__img" src="{{ imgUrl }}{% if img.thumb != null %}{{ img.thumb }}{% else %}{{ img.full }}{% endif %}">
          </a>
        </div>
      {% endfor %}
    </section>
    {% unless forloop.last %}
      <img class="illustration__divider" role="presentation" src="{{ imgUrl }}/img/site/divider.png">
    {% endunless %} 
    
  {% endfor %}
</main>
